# Environnements Python
venv/
.env

# Fichiers personnels
notes_*
intro.txt
bin.txt

# Dossiers de données (volumineux) mais on garde la structure
data/
!data/.gitkeep

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Fichiers temporaires
*.tmp
*.temp

# Logs
*.log

